<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Drop-vs-Del" data-toc-modified-id="Drop-vs-Del-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Drop vs Del</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iLoveBurpees_workouts.csv')

In [3]:
df.head()

,Workout Timestamp,Live/On-Demand,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Heartrate,Avg. Incline,Avg. Pace (min/mi)
0,2019-02-17 15:10 (EST),On Demand,Leanne Hainsby,20,Cycling,Music,20 min Pop Ride,2019-02-15 05:42 (EST),137.0,114.0,41%,77.0,16.45,5.48,185.0,NaN,NaN,NaN
1,2019-02-18 14:47 (EST),On Demand,Christine D'Ercole,30,Cycling,Music,30 min 70s Rock Ride,2019-02-18 11:18 (EST),209.0,116.0,41%,78.0,16.66,8.33,182.0,114.91,NaN,NaN
2,2019-02-18 15:19 (EST),On Demand,Christine D'Ercole,10,Cycling,Low Impact,10 min Low Impact Ride,2019-02-14 10:02 (EST),51.0,86.0,37%,79.0,15.05,2.50,56.0,110.87,NaN,NaN
3,2019-02-19 06:13 (EST),On Demand,Ally Love,45,Cycling,Intervals,45 min Intervals Ride,2018-11-07 05:49 (EST),307.0,114.0,41%,74.0,16.34,12.25,417.0,NaN,NaN,NaN
4,2019-02-20 11:30 (EST),Live,Emma Lovewell,30,Cycling,Music,30 min Pop Ride,2019-02-20 11:19 (EST),208.0,115.0,42%,73.0,16.14,8.07,281.0,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Workout Timestamp   989 non-null    object
 1   Live/On-Demand      989 non-null    object
 2   Instructor Name     987 non-null    object
 3   Length (minutes)    989 non-null    int64
 4   Fitness Discipline  989 non-null    object
 5   Type                989 non-null    object
 6   Title               989 non-null    object
 7   Class Timestamp     987 non-null    object
 8   Total Output        634 non-null    float64
 9   Avg. Watts          628 non-null    float64
 10  Avg. Resistance     628 non-null    object
 11  Avg. Cadence (RPM)  628 non-null    float64
 12  Avg. Speed (mph)    634 non-null    float64
 13  Distance (mi)       634 non-null    float64
 14  Calories Burned     966 non-null    float64
 15  Avg. Heartrate      27 non-null     float64
 16  Avg. Incline        0 non-null      float64
 17  Avg. Pace (min/mi)  0 non-null      float64
dtypes: float64(9), int64(1), object(8)
memory usage: 139.2+ KB

# Drop vs Del

drop operates on both columns and rows; del operates on column only

drop can operate on multiple items at a time; del operates only on one at a time

drop can operate in-place or return a copy; del is an in-place operation only

In [6]:
# Only delete one col, error if try more than one
del df['Avg. Heartrate']

In [11]:
df.sample(1)

,Workout Timestamp,Live/On-Demand,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Incline,Avg. Pace (min/mi)
91,2019-04-27 07:10 (EST),On Demand,Jennifer Jacobs,30,Cycling,Music,30 min 80s Rock Ride,2019-03-11 13:19 (EST),226.0,126.0,44%,73.0,17.11,8.55,301.0,NaN,NaN

In [12]:
# Drop using iloc 
# df.drop(df.iloc[:, 1:3], inplace = True, axis = 1) 
df.drop(df.iloc[:, 1:2], inplace = True, axis = 1)

In [13]:
df.head(1)

,Workout Timestamp,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Incline,Avg. Pace (min/mi)
0,2019-02-17 15:10 (EST),Leanne Hainsby,20,Cycling,Music,20 min Pop Ride,2019-02-15 05:42 (EST),137.0,114.0,41%,77.0,16.45,5.48,185.0,NaN,NaN

In [15]:
# drop using iloc and ix
# did not work, ix is deprecated

# df.drop(df.ix[:, 'Avg. Incline' : 'Avg. Pace (min/mi)'].columns, axis = 1)

In [16]:
# Did not use inplace = True and in next cell the dropped columns are back
df.drop(['Avg. Incline','Avg. Pace (min/mi)'], axis = 1)

,Workout Timestamp,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned
0,2019-02-17 15:10 (EST),Leanne Hainsby,20,Cycling,Music,20 min Pop Ride,2019-02-15 05:42 (EST),137.0,114.0,41%,77.0,16.45,5.48,185.0
1,2019-02-18 14:47 (EST),Christine D'Ercole,30,Cycling,Music,30 min 70s Rock Ride,2019-02-18 11:18 (EST),209.0,116.0,41%,78.0,16.66,8.33,182.0
2,2019-02-18 15:19 (EST),Christine D'Ercole,10,Cycling,Low Impact,10 min Low Impact Ride,2019-02-14 10:02 (EST),51.0,86.0,37%,79.0,15.05,2.50,56.0
3,2019-02-19 06:13 (EST),Ally Love,45,Cycling,Intervals,45 min Intervals Ride,2018-11-07 05:49 (EST),307.0,114.0,41%,74.0,16.34,12.25,417.0
4,2019-02-20 11:30 (EST),Emma Lovewell,30,Cycling,Music,30 min Pop Ride,2019-02-20 11:19 (EST),208.0,115.0,42%,73.0,16.14,8.07,281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,2020-12-25 09:44 (EST),Denis Morton,10,Yoga,Flow,10 min Yoga Flow,2020-12-23 08:36 (EST),NaN,NaN,NaN,NaN,NaN,NaN,34.0
985,2020-12-26 13:29 (EST),Emma Lovewell,30,Cycling,Theme,30 min Peloton Top 50 of 2020 (#50 - 41),2020-12-26 09:00 (EST),189.0,105.0,38%,84.0,16.32,8.15,249.0
986,2020-12-26 14:02 (EST),Irene Scholz,20,Cycling,Low Impact,20 min Recovery Ride,2020-12-23 12:00 (EST),96.0,80.0,33%,88.0,14.60,4.86,126.0
987,2020-12-27 12:17 (EST),Matt Wilpers,60,Cycling,Power Zone,60 min Power Zone Endurance Ride,2020-12-19 07:53 (EST),443.0,123.0,40%,84.0,17.44,17.44,581.0
988,2020-12-27 13:19 (EST),Matt Wilpers,5,Stretching,Pre & Post-Ride Stretch,5 min Post-Ride Stretch,2020-09-21 17:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,12.0

In [17]:
df.head()

,Workout Timestamp,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Incline,Avg. Pace (min/mi)
0,2019-02-17 15:10 (EST),Leanne Hainsby,20,Cycling,Music,20 min Pop Ride,2019-02-15 05:42 (EST),137.0,114.0,41%,77.0,16.45,5.48,185.0,NaN,NaN
1,2019-02-18 14:47 (EST),Christine D'Ercole,30,Cycling,Music,30 min 70s Rock Ride,2019-02-18 11:18 (EST),209.0,116.0,41%,78.0,16.66,8.33,182.0,NaN,NaN
2,2019-02-18 15:19 (EST),Christine D'Ercole,10,Cycling,Low Impact,10 min Low Impact Ride,2019-02-14 10:02 (EST),51.0,86.0,37%,79.0,15.05,2.50,56.0,NaN,NaN
3,2019-02-19 06:13 (EST),Ally Love,45,Cycling,Intervals,45 min Intervals Ride,2018-11-07 05:49 (EST),307.0,114.0,41%,74.0,16.34,12.25,417.0,NaN,NaN
4,2019-02-20 11:30 (EST),Emma Lovewell,30,Cycling,Music,30 min Pop Ride,2019-02-20 11:19 (EST),208.0,115.0,42%,73.0,16.14,8.07,281.0,NaN,NaN

In [18]:
# drop columns with inplace

df.drop(['Avg. Incline','Avg. Pace (min/mi)'], inplace = True, axis = 1)

In [19]:
df.head()

,Workout Timestamp,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned
0,2019-02-17 15:10 (EST),Leanne Hainsby,20,Cycling,Music,20 min Pop Ride,2019-02-15 05:42 (EST),137.0,114.0,41%,77.0,16.45,5.48,185.0
1,2019-02-18 14:47 (EST),Christine D'Ercole,30,Cycling,Music,30 min 70s Rock Ride,2019-02-18 11:18 (EST),209.0,116.0,41%,78.0,16.66,8.33,182.0
2,2019-02-18 15:19 (EST),Christine D'Ercole,10,Cycling,Low Impact,10 min Low Impact Ride,2019-02-14 10:02 (EST),51.0,86.0,37%,79.0,15.05,2.50,56.0
3,2019-02-19 06:13 (EST),Ally Love,45,Cycling,Intervals,45 min Intervals Ride,2018-11-07 05:49 (EST),307.0,114.0,41%,74.0,16.34,12.25,417.0
4,2019-02-20 11:30 (EST),Emma Lovewell,30,Cycling,Music,30 min Pop Ride,2019-02-20 11:19 (EST),208.0,115.0,42%,73.0,16.14,8.07,281.0

In [ ]:
# use : instead of axis for class timestamp

In [ ]:
display(df.loc[(df.Author == 'DK') & (df.iRatings > 10) & (df.fReviews < 5)])