<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ID" data-toc-modified-id="ID-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ID</a></span><ul class="toc-item"><li><span><a href="#ID-Duplicates-Conclusion" data-toc-modified-id="ID-Duplicates-Conclusion-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>ID Duplicates Conclusion</a></span></li></ul></li><li><span><a href="#Waterfront" data-toc-modified-id="Waterfront-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Waterfront</a></span><ul class="toc-item"><li><span><a href="#Pandas-isna()-vs-isnull()---accomplish-same-thing" data-toc-modified-id="Pandas-isna()-vs-isnull()---accomplish-same-thing-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Pandas isna() vs isnull() - accomplish same thing</a></span></li><li><span><a href="#Drop-null-values" data-toc-modified-id="Drop-null-values-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Drop null values</a></span></li></ul></li><li><span><a href="#sqft_basement" data-toc-modified-id="sqft_basement-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>sqft_basement</a></span><ul class="toc-item"><li><span><a href="#Result" data-toc-modified-id="Result-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Result</a></span></li><li><span><a href="#Column-for-basement/no_basement-using-Numpy.where()" data-toc-modified-id="Column-for-basement/no_basement-using-Numpy.where()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Column for basement/no_basement using Numpy.where()</a></span></li><li><span><a href="#Tiers-of-basement-size-using-Numpy.select()" data-toc-modified-id="Tiers-of-basement-size-using-Numpy.select()-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Tiers of basement size using Numpy.select()</a></span></li><li><span><a href="#NOTE:-the-dataframe-was-not-updated-to-show-basement-tiers-or-true/false,-only-a-temporary-dataframe-was-used." data-toc-modified-id="NOTE:-the-dataframe-was-not-updated-to-show-basement-tiers-or-true/false,-only-a-temporary-dataframe-was-used.-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>NOTE: the dataframe was not updated to show basement tiers or true/false, only a temporary dataframe was used.</a></span></li></ul></li><li><span><a href="#Floors" data-toc-modified-id="Floors-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Floors</a></span><ul class="toc-item"><li><span><a href="#Half-floors" data-toc-modified-id="Half-floors-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Half floors</a></span></li><li><span><a href="#Result" data-toc-modified-id="Result-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Result</a></span></li></ul></li><li><span><a href="#Yr_renovated" data-toc-modified-id="Yr_renovated-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Yr_renovated</a></span><ul class="toc-item"><li><span><a href="#Nulls-get-bundled-with-values" data-toc-modified-id="Nulls-get-bundled-with-values-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nulls get bundled with values</a></span></li><li><span><a href="#The-3842-nulls-get-switched-to-'not-0'" data-toc-modified-id="The-3842-nulls-get-switched-to-'not-0'-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>The 3842 nulls get switched to 'not 0'</a></span></li><li><span><a href="#Result" data-toc-modified-id="Result-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Result</a></span></li></ul></li><li><span><a href="#Bedrooms-and-Bathrooms" data-toc-modified-id="Bedrooms-and-Bathrooms-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Bedrooms and Bathrooms</a></span><ul class="toc-item"><li><span><a href="#Conclusions" data-toc-modified-id="Conclusions-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Conclusions</a></span></li></ul></li><li><span><a href="#Zipcodes" data-toc-modified-id="Zipcodes-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Zipcodes</a></span></li></ul></div>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.api as sms

from sklearn import datasets

In [ ]:
# %store -r kc_df

In [ ]:
# df = kc_df.copy()

In [ ]:
df = pd.read_csv("kc_house_data.csv")

In [ ]:
df.head()

In [ ]:
df.info()

# ID
Duplicates?

In [ ]:
# Duplicate ids, but are they truly the same event?

print("There are {} duplicated ids in this dataset.".format(df.id.duplicated().sum()))

In [ ]:
duplicate_id = df[df.id.duplicated(keep=False)]
duplicate_date = df[df.date.duplicated(keep=False)]

# From my capstone project
# duplicates.sort_values(by=['Coffee Name']).head()
# df.drop_duplicates(inplace=True)

temp = df[['id','date']]
duplicates = temp[temp.duplicated()]
print(duplicates)

## ID Duplicates Conclusion
I believe that there aren't any duplicate entries, just houses that were sold/resold

# Waterfront

In [ ]:
# .value_counts() excludes null
print("Value counts for waterfront: \n{}".format(df.waterfront.value_counts()))
print("\nTotal waterfront values: {}".format(len(df.waterfront)))

In [ ]:
# the number of null values, they do not show up in value_counts
21597-19075-146

In [ ]:
2376/21597 * 100

## Pandas isna() vs isnull() - accomplish same thing

In [ ]:
# pd.to_numeric(df.waterfront, errors="coerce", inplace=True)

In [ ]:
print("Null waterfront values: {}".format(df.waterfront.isna().sum()))
print(df.waterfront.isna().sum() / len(df.waterfront)) #11% of waterfront data missing

In [ ]:
# one .sum() gives the breakout of nulls, a double .sum() gives the total of whole dataframe
df.isna().sum().sum()

In [ ]:
df.waterfront.isnull().sum()

## Drop null values
When I tried drop the null values using:
df.waterfront.dropna(axis=0, inplace=True)
it seemed to work.  There were no errors.  When I checked the null values in the column the answer as 0.  However, when I checked the value of waterfront in row 13254 there was a Nan!

In [ ]:
# THIS DOES NOT WORK
# df.waterfront.dropna(axis=0,inplace=True)

# RESULTS
# df.waterfront.isna().sum()
# 0

# df.waterfront.isnull().sum()
# 0

# df.waterfront.value_counts().nunique()
# 2

# df.info()
# still only 19221 values 
# what are the other ones?

In [ ]:
# THIS IS RIGHT AND WORKS, but 11% of values lost
# df = df.dropna(axis=0, subset=['waterfront'])

In [ ]:
# Will fill nulls instead in the ratio of waterfront/non-waterfront
df['est_waterfront'] = df['waterfront'].fillna(pd.Series(np.random.choice([999, 0], 
                                                      p=[146/19221, 1-(146/19221)], size=len(df))))

In [ ]:
df.info()

# sqft_basement

In [ ]:
df.sqft_basement.value_counts(sort=True)

In [ ]:
df.sqft_basement.min()

In [ ]:
df.sqft_basement.max()

In [ ]:
df.sqft_basement.isna().sum()

In [ ]:
# About half of the houses have no basement.

df.sqft_basement.value_counts().sort_values(ascending=False)

In [ ]:
# sqft_living = sqft_above + sqft_basement, is this true
temp = df[['sqft_living','sqft_above','sqft_basement']]

In [ ]:
temp.head(3)

In [ ]:
temp.sqft_living.isna().sum()

In [ ]:
temp.sqft_above.isna().sum()

In [ ]:
temp.sqft_basement.isna().sum()

In [ ]:
# This is a check of above's value

len(temp[temp['sqft_basement'] == '?'])

In [ ]:
# create a new column calc_below and compare it to sqft_basement for the ? values
temp['calc_basement'] = temp['sqft_living'] - temp['sqft_above']

In [ ]:
temp.head(8)

In [ ]:
temp[temp['sqft_basement'] == '?']

## Result

It appears on visual inspection, that the sqft_basement values that were ? can be reassigned as the calcualated value of all living space minus the living space above.

## Column for basement/no_basement using Numpy.where()

In [ ]:
temp['has_basement'] = np.where(temp['calc_basement'] == 0, False, True)
temp.head()

## Tiers of basement size using Numpy.select()

https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/?utm_source=Iterable&utm_medium=email&utm_campaign=newsletter_90

In [ ]:
temp.describe()

In [ ]:
sns.set(rc={'figure.figsize':(15,15)})
sns.distplot(temp['calc_basement'])

In [ ]:
conditions = [
    (temp['calc_basement'] == 0),
    (temp['calc_basement'] > 0) & (temp['calc_basement'] <= 300),
    (temp['calc_basement'] > 300) & (temp['calc_basement'] <= 600),
    (temp['calc_basement'] > 600) & (temp['calc_basement'] <= 1000),
    (temp['calc_basement'] > 1000) & (temp['calc_basement'] <= 5000),
    ]

In [ ]:
values = ['level_1', 'level_2', 'level_3', 'level_4','level_5']

In [ ]:
temp['basement_size'] = np.select(conditions, values)

In [ ]:
temp.head()

In [ ]:
temp.basement_size.value_counts()

## NOTE: the dataframe was not updated to show basement tiers or true/false, only a temporary dataframe was used. 

At this point, I'll add the calc_basement column to the dataframe.

In [ ]:
df['calc_basement'] = df['sqft_living'] - df['sqft_above']

# Floors

In [ ]:
# Sorts by value
df.floors.value_counts(sort=True)

In [ ]:
# Sort by index
df.floors.value_counts().sort_index()

## Half floors
A house that is 1.5 has the master bedroom on the first floor and the other bedrooms on the second floor.  A 2.5 story house has a steep roof line and dormers.  Presumably a 3.5 story house has three floors and then a steep roof and dormer.

In [ ]:
df.floors.head(20)

In [ ]:
# Goal to combine floors
# if floor is 1.5 rename to 2
# if floor is 2.5 or 3.5 rename to 3

df.loc[df['floors'] == 1.5, 'floors'] = 2
df.loc[df['floors'] == 2.5, 'floors'] = 3
df.loc[df['floors'] == 3.5, 'floors'] = 3

In [ ]:
df.floors.value_counts()

## Result
I could have reused numpy.select() to change the values of 1.5, 2.5 and 3.5, but wanted to use a new technique.

# Yr_renovated

In [ ]:
df.yr_renovated.value_counts()

In [ ]:
# null values: 3842
df.yr_renovated.isna().sum()

In [ ]:
df.yr_renovated.value_counts().nunique()

In [ ]:
# year and null: 4586
df[df['yr_renovated'] != 0]

In [ ]:
#null and year renovated + no renovation = total
4586+17011

In [ ]:
# total - no renovation - null = number of renovations
21597-17011-3842

In [ ]:
# 17% of values are null, too much to drop
3842/21597

In [ ]:
# renovation to no-renovation ratio
744/17011

## Nulls get bundled with values

In [ ]:
# create new column, renovation, true or false value
# what will happen with nulls? 

# df['renovation'] = np.where(df['yr_renovated'] == 0, False, True)

In [ ]:
# df.renovation.value_counts()
# Results:
# False 17011
# True   4586

In [ ]:
# df['renovation'] = np.where(df['yr_renovated'] != 0, True, False)

In [ ]:
# same result as above
# df.renovation.value_counts()

## The 3842 nulls get switched to 'not 0'

In [ ]:
df['renovation'] = df['yr_renovated'].fillna(pd.Series(np.random.choice([999, 0], 
                                                      p=[744/17011, 1-(744/17011)], size=len(df))))

In [ ]:
df.head(10)

In [ ]:
df.renovation.value_counts()

In [ ]:
df.renovation.isna().sum()

In [ ]:
round(0.96*3842 + 17011)

In [ ]:
# Removed nulls in the ratio of renovation/non-renovation, now change the column to bool
df['renovation'] = np.where(df['renovation'] == 0, False, True)

In [ ]:
df.head(3)

In [ ]:
print(df[['id', 'yr_renovated', 'renovation']].head(6))

In [ ]:
df.renovation.value_counts()

## Result
A new column was created, the null values where filled in the correct ratio and then the column values where converted to a bool.

https://stackoverflow.com/questions/38934140/fill-missing-values-by-a-ratio-of-other-values-in-pandas

# Bedrooms and Bathrooms

In [ ]:
print("max",df.bedrooms.max())
print('min',df.bedrooms.min())
print("null", df.bedrooms.isna().sum())

In [ ]:
# Fix the 33 bedrooms

In [ ]:
bed_outlier = df.loc[df['bedrooms'] > 10]
bath_outlier = df.loc[df['bathrooms'] > 7]
print("Bedroom outliers: ", bed_outlier)
print("Bathroom outliers: ", bath_outlier)

In [ ]:
df["bedrooms"].replace({33: 3}, inplace=True)

In [ ]:
df.bedrooms.median()

## Conclusions
Although 11 seems like a large number of bedrooms, it may be an old Victorian.  Additionally, some houses had a large number of bathrooms and that may be intentional for rental income.  Therefore, the only change made was to change the house with 33 bedrooms to 3.  Another option would have been to replace with the median number of bedrooms, which happens to be 3 too.

# Zipcodes

In [ ]:
# 70 zipcodes
df.zipcode.value_counts()

In [ ]:
df.groupby(['zipcode'])['price'].mean().sort_values().plot(kind='barh', figsize=(15,15))
plt.title('Mean prices of homes sold in Kings County zipcodes')
plt.xlabel("Mean prices of homes")

In [ ]:
df.head(2)

In [ ]:
# df.waterfront.isna()
df.iloc[13253:13255]

In [ ]:
df[df['zipcode'] == 98039]

In [ ]:
# https://towardsdatascience.com/geopandas-101-plot-any-data-with-a-latitude-and-longitude-on-a-map-98e01944b972