<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Kaggle-Data" data-toc-modified-id="Kaggle-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Kaggle Data</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Viewing-Data" data-toc-modified-id="Viewing-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Viewing Data</a></span><ul class="toc-item"><li><span><a href="#Matches" data-toc-modified-id="Matches-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Matches</a></span><ul class="toc-item"><li><span><a href="#Using-Where-clause" data-toc-modified-id="Using-Where-clause-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Using Where clause</a></span></li></ul></li><li><span><a href="#Teams-in-Matches" data-toc-modified-id="Teams-in-Matches-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Teams in Matches</a></span></li><li><span><a href="#Teams" data-toc-modified-id="Teams-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Teams</a></span></li><li><span><a href="#Team-IDs" data-toc-modified-id="Team-IDs-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Team IDs</a></span></li></ul></li></ul></div>

# Kaggle Data


https://www.kaggle.com/laudanum/footballdelphi

| Table | Total Rows| Total Columns|
| ----- | --------- | -------------|
|Matches|24625      |9             |
|Teams  |468        |8|
|Teams_in_Matches|49148         |2|
|Unique_Teams    | 128      |   2|

# Imports

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

# Viewing Data

## Matches

In [27]:
# A rudimentary way to get information

cur.execute("""SELECT * 
               FROM matches 
               LIMIT 5;""")

In [28]:
cur.fetchall()

[(1, 'D2', 2009, '2010-04-04', 'Oberhausen', 'Kaiserslautern', 2, 1, 'H'),
 (2, 'D2', 2009, '2009-11-01', 'Munich 1860', 'Kaiserslautern', 0, 1, 'A'),
 (3, 'D2', 2009, '2009-10-04', 'Frankfurt FSV', 'Kaiserslautern', 1, 1, 'D'),
 (4, 'D2', 2009, '2010-02-21', 'Frankfurt FSV', 'Karlsruhe', 2, 1, 'H'),
 (5, 'D2', 2009, '2009-12-06', 'Ahlen', 'Karlsruhe', 1, 3, 'A')]

In [2]:
# wrapping results in a pandas dataframe

cur.execute("""SELECT * FROM matches;""") 
match = pd.DataFrame(cur.fetchall())
match.columns = [x[0] for x in cur.description]
match.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [14]:
match.tail()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

In [6]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Match_ID  24625 non-null  int64
 1   Div       24625 non-null  object
 2   Season    24625 non-null  int64
 3   Date      24625 non-null  object
 4   HomeTeam  24625 non-null  object
 5   AwayTeam  24625 non-null  object
 6   FTHG      24625 non-null  int64
 7   FTAG      24625 non-null  int64
 8   FTR       24625 non-null  object
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

In [13]:
# 126 unique teams
match['HomeTeam'].unique()

array(['Oberhausen', 'Munich 1860', 'Frankfurt FSV', 'Ahlen',
       'Union Berlin', 'Paderborn', 'Bielefeld', 'Kaiserslautern',
       'Hansa Rostock', 'Greuther Furth', 'Koblenz', 'Cottbus',
       'Duisburg', 'Fortuna Dusseldorf', 'Aachen', 'Augsburg', 'St Pauli',
       'Bochum', 'Bayern Munich', "M'gladbach", 'Mainz', 'Hamburg',
       'Stuttgart', 'Dortmund', 'Schalke 04', 'Freiburg', 'Werder Bremen',
       'Hertha', 'Hannover', 'Ein Frankfurt', 'Wolfsburg', 'Hoffenheim',
       'FC Koln', 'Nurnberg', 'Leverkusen', 'Karlsruhe', 'Osnabruck',
       'Erzgebirge Aue', 'Ingolstadt', 'Braunschweig', 'Dresden', 'Aalen',
       'Regensburg', 'Sandhausen', 'Heidenheim', 'RB Leipzig',
       'Darmstadt', 'Wurzburger Kickers', 'Kiel', 'Burghausen',
       'Unterhaching', 'Saarbrucken', 'Siegen', 'Offenbach', 'CZ Jena',
       'RW Essen', 'Wehen', "M'Gladbach", 'Wattenscheid', 'Chemnitz',
       'Homburg', 'Mannheim', 'Meppen', 'Stuttgarter K', 'TB Berlin',
       'F Koln', 'Uerdingen', 'Wuppertaler', 'Zwickau', 'Lubeck',
       'Gutersloh', 'Oldenburg', 'Ulm', 'Reutlingen', 'Schweinfurt',
       'Babelsberg', 'Ein Trier', 'Erfurt', 'Arsenal', 'Aston Villa',
       'Chelsea', 'Liverpool', 'Man City', 'Newcastle', 'Oldham',
       'Sheffield United', 'Southampton', 'West Ham', 'Norwich',
       'Tottenham', 'Everton', 'Ipswich', 'Leeds', 'Wimbledon',
       'Blackburn', 'Coventry', 'Man United', 'QPR', 'Sheffield Weds',
       'Swindon', 'Crystal Palace', 'Leicester', "Nott'm Forest",
       'Bolton', 'Middlesbrough', 'Derby', 'Sunderland', 'Barnsley',
       'Charlton', 'Watford', 'Bradford', 'Fulham', 'Birmingham',
       'Middlesboro', 'West Brom', 'Portsmouth', 'Wolves', 'Wigan',
       'Reading', 'Hull', 'Stoke', 'Burnley', 'Blackpool', 'Swansea',
       'Cardiff', 'Bournemouth'], dtype=object)

In [15]:
match['Div'].unique()

array(['D2', 'D1', 'E0'], dtype=object)

### Using Where clause

In [30]:
cur.execute("""SELECT * 
            FROM matches
            WHERE Season = '2009' or Season = '2016';""") 
match09 = pd.DataFrame(cur.fetchall())
match09.columns = [x[0] for x in cur.description]
match09.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [31]:
match09.tail()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
1979,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
1980,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
1981,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
1982,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
1983,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

## Teams in Matches

In [16]:
cur.execute("""SELECT * FROM teams_in_matches;""")
tim = pd.DataFrame(cur.fetchall())
tim.columns = [x[0] for x in cur.description]
tim.head(3)

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26

In [21]:
# cur.execute("""SELECT * 
#                FROM teams_in_matches
#                JOIN matches
#                ON Match_ID;""")
# match_ex = pd.DataFrame(cur.fetchall())
# match_ex.columns = [x[0] for x in cur.description]
# match_ex.head(3)

OperationalError: ambiguous column name: Match_ID

## Teams

In [22]:
cur.execute("""SELECT * FROM teams;""") 
teams = pd.DataFrame(cur.fetchall())
teams.columns = [x[0] for x in cur.description]
#print(df.info())
teams.head(5)

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

## Team IDs

In [23]:
cur.execute("""SELECT * FROM Unique_Teams;""") 
ids = pd.DataFrame(cur.fetchall())
ids.columns = [x[0] for x in cur.description]
ids.head(5)

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

In [24]:
ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TeamName        128 non-null    object
 1   Unique_Team_ID  128 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

In [25]:
ids.Unique_Team_ID.nunique()

128

In [ ]:
cur.execute('''SELECT TeamName FROM teams WHERE season = '2011';''')
df_teams = pd.DataFrame(cur.fetchall())
# cur.execute('''SELECT count(TeamName) FROM teams WHERE season = '2011';''').fetchall() # There are 36 teams
df_teams.columns = ['team']

the_teams = df_teams['team'].unique() #returns an array, better to iterate over
the_teams